body{
  font-family: 'Arvo';
}

/*Homepage*/

.mainsection1 {
	height: 100%;
	margin: 0;
}

.backimage { 
	background: url(images/treasure-map.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.imgplaceholder {
	max-width: 120px;
}


.maintext {
	position: relative;
	clear: both;
	max-width: 50%;
	text-align: center;
	margin: auto;
	padding-top: 10%;
}

.maintexth1 {
	font-size: 2em;
}

.maintexth1 {
	color: purple;
}

.specialtext {
    font-weight: bolder;
    color: maroon;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

/*login*/

.signup-block {
    width: 640px;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
}

.signup-block input {
    width: 50%;
    margin-left: 25%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid purple;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
    display: block
}

.signup-block input#email {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.signup-block input#email:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.signup-block input:active, .signup-block input:focus {
    border: 1px solid maroon;
}

.signup-block button {
    width: 50%;
    margin-left: 25%;
    height: 40px;
    background: purple;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid purple;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.signup-block button:hover {
    background: maroon;
    color: white;
    border: 1px solid maroon;
}

